@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h2,
h3 {
    margin-left: 7.5%;
}

ul,
ol {
    margin-left: 10%;
}